html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #334257;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.header {
    padding: 16px;
}

.header__name {
    color: #EEEEEE;
}

.header__title {
    color: #548CA8;
}